*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace;
  overflow-x: hidden;
}

:root {
  --primaryBtnBackground: #7b61ff;
  --secondaryBtnBackground: #f6f4ff;
  --secondaryBtnColor: #5243c2;
  --darkColor: #161414;
  --lightGrayColor: #979797;
  --midGrayColor: #878787;
  --darkGrayColor: #5b5b5b;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}